<div class="whole-page">
  <button (click)="onLoad()">Trigger Prefetch</button>

  <button (click)="onDisplay()">Trigger Display</button>

  <!-- @defer (on interaction; prefetch on viewport) -->
  <!-- @defer (on timer(5s); prefetch on idle) { -->
  <!-- @defer (when show; prefetch when load) { -->
  <!-- @defer (on hover) { -->
  <!-- @defer (on interaction) { -->
  <!-- @defer (on viewport) { -->

  @defer () {
    <app-yellow/>
  }

  @placeholder (minimum 4s) {
    <app-green />  
    <!-- Triggered even before the bundling starts -->
  }

  @loading (minimum 4s) {
    <app-orange />
    <!-- Triggered when defer block starts loading -->
  }

  @error {
    <app-red />
    }

  <app-black/>

</div>